<section class="sec5">
  <div class="bon">
  <img class="im" src="assets/logo.jpeg" alt="">
  <b class="oo" >We believe it has the power to de amazing things. <br>
      Interested in working with us?</b>
      <a class="op" href="#support">support&nebtendix.com</a>
    <div class="co">
      <i class="fa-brands fa-facebook"></i>
      <i id="io" class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-tiktok"></i>
      <i class="fa-brands fa-github"></i>
    </div>
  </div>
  <div class="bon">
      <h3>Quick Links</h3>
  <ul>
  <li>Services</li>
  <li class="vo">About company</li>
  <li>latest news</li>
  <li>team member</li>
  <li>testimorials</li>
  </ul>
  </div>
  <div class="bon">
      <h3>My Account</h3>
      <ul>
      <li>My Profile</li>
      <li >My Order History</li>
      <li>My Wish List</li>
      <li>Order Tracking</li>
      <li>Shopping Cart</li>
      </ul>
     </div>
  <div class="bon">
  <h3>Address:</h3>
  <b class="nn">570 8th Ave. New York,NY <span>10018</span> United States</b>
  <h3>Hours:</h3>
  <b class="nn">11.30am-1.30pm

      Monday To Friday</b>
  </div>
  <div class="bon">
  <h3>install APP</h3>
  <b class=" mb">from App Store or GOOgle Play</b>
  <img src="assets/google-play.png" alt="">
  <img src="assets/app-store.png" alt="">
  <b class="mr"> 24/7 Support Center
  </b>
  <a href="#" class="rr">+1718-904-4450</a>
  </div>
   </section>

  <section class="sec6">
      <b class="bn">Copyright <i class="fa-regular fa-circle-up"></i> <span>2024</span>modinatheme.All right Reserved </b>
  <div class="mg">
      <img src="assets/app-store.png" alt="">
      <img src="assets/google-play.png" alt="">
  </div>
  </section>

