<div class="delivery-section p-5">
    <div class="row text-center">
        <div class="delivery-text w-50 p-5">
            <span>CRISPY, EVERY BITE TASTE</span>
            <h2>30 MINUTES FAST
                <br>
                <span>DELIVERY</span> CHALLENGE
            </h2>
            <button class="btn m-3 btn-booking p-3 fw-bolder"><i class="fa-solid fa-truck p-2"></i> ORDER NOW</button>
        </div>
        <div class="delivery-image w-50">
            <img src="/assets/delivery-man.png" alt="" class="w-50">
        </div>
    </div>
</div>
