<div class="footer">
  <h1>FOOD MENU 2</h1>
<b class="bb">HOME PAAGE > ABOUT US</b>
</div>

<section  class="food-category">
   <div class="container">
       <div class="section-title text-center">
           <span class="ss">crispy, every bite taste</span>
           <h2>Popular Food Items</h2>
       </div>
       <div class="row custom-row">
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/main-food-2.png" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">ruti with beef slice</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col">
               <div class="mn"></div>
               <div class="catagory-product-card-2 text-center active">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/burger-2.png" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">Whopper Burger King</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/pizza-3.png" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">Chiness pasta</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/grilled-2.png" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">delicious burger</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/Final-delicious-pizza.jpg" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">fast food combo</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/delicious-burger.png" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">ruti with chiken</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/beef-ruti.png" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">grilled chiken</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
           <div class="custom-col" >
               <div class="catagory-product-card-2 text-center">
                   <div class="icon">
                       <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                   </div>
                   <div class="catagory-product-image">
                       <img src="assets/images (14).jpg" alt="product-img">
                   </div>
                   <div class="catagory-product-content">
                       <div class="catagory-button">
                           <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                       </div>
                       <div class="info-price d-flex align-items-center justify-content-center">
                           <p>-5%</p>
                           <h6>$30.52</h6>
                           <span class="cn">$28.52</span>
                       </div>
                       <h4>
                           <a href="shop-single.html" class="nn">delicious burger</a>
                       </h4>
                       <div class="star">
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star"></span>
                           <span class="fas fa-star text-white"></span>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>

<section class="sec2">
<div class="cor">
   <b class="vv">CRISPY,EVERY BITE TASTE</b>
   <h2 class="vn">NEED BOOKING?
       RESERVE YOUR TABLE? </h2>
 <div class="con">
   <b class="mn">24/7SUPPORT CENTER</b>
   <a href="telephone" class="lin"><i class="fa-solid fa-phone"></i>+1718-904-4450 </a>
 </div>
</div>
<div class="co2" [ngClass]="{'form-submitted': isFormSubmitted}">
  <h3 class="hh">GREAT AN RESEVATION...........</h3>
  <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">
    <div class="form-group">
      <select id="dropdown" name="dropdown" required ngModel>
        <option value="">no of person</option>
        <option value="option1">BURGER</option>
        <option value="option2">PIZZA</option>
        <option value="option3">DRINKS</option>
      </select>
    </div>
    <div class="form-group">
      <input type="text" id="phoneNumber" name="phoneNumber" required placeholder="phone Number" ngModel>
    </div>
    <div class="form-group">
      <input type="date" id="date" name="date" required placeholder="DATE" ngModel>
    </div>
    <div class="form-group">
      <button class="btn" [ngClass]="{'btn-submitted': isFormSubmitted}" type="submit">{{ isFormSubmitted ? 'submitted' : 'booking now' }}</button>
    </div>
  </form>
  <p id="message" *ngIf="isFormSubmitted">done</p>
</div>
   <div class="clr"></div>
</section>

<section class="sec3">
<div class="imb1">
<h6>Piter Bowman</h6>
<b class="vm ">BUsiness CEO & CO FOUnder</b>
<b class="om">
   "Thank You For Dinner Last Night. It Was Amazing!! <br>
   I Have Say It's The Best Meal I Have Had In Quite <br>
    Some Time.Will Definitely Be Seeing <br> More Eating Next Year."
</b>
<div class="star">
   <span class="fas fa-star"></span>
   <span class="fas fa-star"></span>
   <span class="fas fa-star"></span>
   <span class="fas fa-star"></span>
   <span class="fas fa-star text-white"></span>
</div>
</div>
<div class="imb">
<div class="cop"><img src="assets/3b3594f4f8f854fbd7ce6b38cab4fc64.jpg" alt=""></div>
<div class="cop2"><img src="assets/1688591202_98_اجمل-ورد-للبنات-صور-خلفيات-بنات-مع-ورود.jpg" alt=""></div>

<div class="cop"><img src="assets/download (9).jpg" alt=""></div>
</div>
</section>

<section class="sec4">
<div class="imj">
<img src="assets/01.jpg" alt="">
</div>
<div class="imj">
   <img src="assets/03.jpg" alt="">
   </div>
   <div class="imj">
       <img src="assets/instagram.jpg" alt="">
       </div>
   <div class="imj">
       <img src="assets/06.jpg" alt="">
       </div>
       <div class="imj">
           <img src="assets/02.jpg" alt="">
           </div>
</section>


<section class="sec5">
  <div class="bon">
  <img class="im" src="assets/logo.jpeg" alt="">
  <b class="oo" >We believe it has the power to de amazing things. <br>
      Interested in working with us?</b>
      <a class="op" href="#support">support&nebtendix.com</a>
    <div class="co">
      <i class="fa-brands fa-facebook"></i>
      <i id="io" class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-tiktok"></i>
      <i class="fa-brands fa-github"></i>
    </div>
  </div>
  <div class="bon">
      <h3>Quick Links</h3>
  <ul>
  <li>Services</li>
  <li class="vo">About company</li>
  <li>latest news</li>
  <li>team member</li>
  <li>testimorials</li>
  </ul>
  </div>
  <div class="bon">
      <h3>My Account</h3>
      <ul>
      <li>My Profile</li>
      <li >My Order History</li>
      <li>My Wish List</li>
      <li>Order Tracking</li>
      <li>Shopping Cart</li>
      </ul>
     </div>
  <div class="bon">
  <h3>Address:</h3>
  <b class="nn">570 8th Ave. New York,NY <span>10018</span> United States</b>
  <h3>Hours:</h3>
  <b class="nn">11.30am-1.30pm

      Monday To Friday</b>
  </div>
  <div class="bon">
  <h3>install APP</h3>
  <b class=" mb">from App Store or GOOgle Play</b>
  <img src="assets/google-play.png" alt="">
  <img src="assets/app-store.png" alt="">
  <b class="mr"> 24/7 Support Center
  </b>
  <a href="#" class="rr">+1718-904-4450</a>
  </div>
   </section>

  <section class="sec6">
      <b class="bn">Copyright <i class="fa-regular fa-circle-up"></i> <span>2024</span>modinatheme.All right Reserved </b>
  <div class="mg">
      <img src="assets/app-store.png" alt="">
      <img src="assets/google-play.png" alt="">
  </div>
  </section>
