<div class="slideshow-container">
    <div class="mySlides fade">
        <img src="assets/homepic1s1.png" style="width:100%">
        <div class="content">
            <h1 id="ttt"><span id="txtpp">CRISPY, EVERY BITE TASTE </span>DELICIOUS FRIED CHICKEN</h1>
            <br>
            <button onclick="linkChecker()" id="btn5">ORDER NOW </button>
        </div>
    </div>

    <div class="mySlides fade">
        <img src="assets/homepic2s1.png" style="width: 100%">
        <div class="content">
            <h1 id="ttt"><span style="color: rgb(209, 0, 0)" id="txtpp">100% SUPER DELICIOUS </span>HOT SPICY
                CHICKEN BURGER</h1>
            <br>
            <button onclick="linkChecker()" id="btn5">ORDER NOW </button>
        </div>
    </div>
</div>

<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
</div>

<div class="section2" style="margin-left: 40px;">
    <div class="text-btn">
        <div class="txt-img">
            <h5 style="color: #d12525; font-family: sans-serif; font-size: 11px; margin: 5%; margin-bottom: 0.5px;">
                CRISPY, EVERY BITE TASTE</h5>
            <h2
                style="font-family: sans-serif; font-size: 25px; margin: 5%; margin-top: 0.5px; margin-bottom: 1px;">
                POPULAR FOOD ITEMS</h2>
        </div>
        <div class="slider-2-wrap">
            <button class="backBtn bbtn">←</button>
            <button class="nextBtn bbtn">→</button>
        </div>
    </div>
    <div class="slider2">
        <br>
        <div class="slider-img">
            <span class="img-slider pic1"><img class="slide" src="assets/food1.png" alt="Pizza"
                    style="width: 150px;">
                <h4 class="text-style">PRO PIZZA</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
            <span class="img-slider pic2"><img class="slide" src="assets/food2.png" alt="Steak with pasta"
                    style="width: 150px;">
                <h4 class="text-style">STEAK PASTA</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
            <span class="img-slider pic3"><img class="slide" src="assets/food3.png" alt="Burger"
                    style="width: 150px;">
                <h4 class="text-style">BEST BURGER</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
            <span class="img-slider pic4"><img class="slide" src="assets/food4.png" alt="Fries"
                    style="width: 150px;">
                <h4 class="text-style">FRENCH FRY</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
        </div>
        <div class="slider-img">
            <span class="img-slider pic3"><img class="slide" src="assets/food5.png" alt="Burger"
                    style="width: 150px;">
                <h4 class="text-style">PRO WRAP</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
            <span class="img-slider pic4"><img class="slide" src="assets/food6.png" alt="Fries"
                    style="width: 150px;">
                <h4 class="text-style">PIZZA SLICE</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
            <span class="img-slider pic5"><img class="slide" src="assets/food7.png" alt="chicken wrap"
                    style="width: 150px;">
                <h4 class="text-style">HOT WINGS</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
            <span class="img-slider pic6"><img class="slide" src="assets/food8.png" alt="Pizza slice"
                    style="width: 150px;">
                <h4 class="text-style">PASTA</h4>
                <h6 class="text-style2">8 PRODUCTS</h6>
            </span>
        </div>

    </div>
</div>
<div class="section3">

    <div class="dives do1" style="background-image: url(assets/ppic4.png); background-size: cover;">
        <div class="hhhhhkk" >
            <h6 style="color: #d12525; font-family: sans-serif; font-size: 11px; width: 100%;">CRISPY, EVERY BITE TASTE</h6>
            <h4 id="dddfgg">SUPER DELICIOUS</h4>
        </div>
    </div>
    <div class="dives do2" style="background-image: url(assets/ppic5.png); background-size: cover;">

    </div>

</div>
