<div class="openions">
    <div id="carouselExampleCaptions" class="carousel slide ">
        <div class="carousel-inner">
            <div class="carousel-item active text-center p-5">
                <h4>Piter Bowman</h4>
                <h5>Business CEO &amp; co founder</h5>
                <h3>
                    “Thank you for dinner last night. It was amazing!! I have
                    <br>
                    say it’s the best meal I have had in quite some time.
                    <br>
                    will definitely be seeing more eating next year.”
                </h3>
                <div class='stars-rate'>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                </div>
            </div>
            <div class="carousel-item text-center p-5">
                <h4>Piter Bowman</h4>
                <h5>Business CEO &amp; co founder</h5>
                <h3>
                    “Thank you for dinner last night. It was amazing!! I have
                    <br>
                    say it’s the best meal I have had in quite some time.
                    <br>
                    will definitely be seeing more eating next year.”
                </h3>
                <div class='stars-rate'>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                </div>
            </div>
            <div class="carousel-item  text-center p-5">
                <h4>Piter Bowman</h4>
                <h5>Business CEO &amp; co founder</h5>
                <h3>
                    “Thank you for dinner last night. It was amazing!! I have
                    <br>
                    say it’s the best meal I have had in quite some time.
                    <br>
                    will definitely be seeing more eating next year.”
                </h3>
                <div class='stars-rate'>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                    <i class="fa-solid fa-star fa-lg" style="color: #FFD43B;"></i>
                </div>
            </div>
            
        </div>
        <div class="carousel-indicators position-static">
            <button style="background-image: url('/assets/01.jpg');background-size: cover;background-position: center;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button style="background-image: url('/assets/02.jpg');background-size: cover;background-position: center;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button style="background-image: url('/assets/03.jpg');background-size: cover;background-position: center;" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</div>
