<div class="section9">
    <div class="img9">
      <img src="assets/lpic1.png" alt="" style="width: 95%; padding-bottom: 10px;">

    </div>
  
  
    <div class="text91">
      <!-- add icon or pic here -->
      <div class="txt22">
      <h6>ABOUT OUR FOOD</h6>
      <h2>WHERE QUALITY MEET EXCELLENT <span>SERVICE.</span></h2>
      <h4 style="float: left; text-align: left;">It is the perfect dining Where every dish is Crafied with frssh high- quality experience quick abd afficient where your food is served fresh lt is dining experience where every dish is carfied with fresh high-quality integredient</h4>
      </div>
      <div class="button">
        <input type="submit" value="MORE ABOUT US">
      </div>
    </div>
  </div>
  <div class="text92">
    <!-- add icon or pic here -->
    <h5> </h5>
    <p> </p>
  </div>
  <div class="section92">
    <div class="btn">
  
    </div>
    <p> </p>
    <p> </p>
  </div>
  
  
  <div class="section10">
    <div class="section10one" style="background: url('/assets/lpic9.png'); border-radius: 10px; padding-top: 6%; margin-right: 10px;">
      <img src="assets/lpic5.png" alt="">
      <img src="assets/lpic6.png" alt="" style="width: 70%; padding-top: 25px;">
      <img src="assets/lpic.png" alt="" style="width: 70%;">
  
  
    </div>
  
    <div class="section10two" style="background: url('/assets/lpic11.jpg'); border-radius: 10px; padding-top: 6%; margin-right: 10px;">
      <img src="assets/lpic4.png" alt="">
      <img src="assets/ipic3.png" alt="">
    </div>
  </div>
  
  <div class="section11">
  
    <div class="img11" style="background: url('/assets/lpic10.png'); background-size: cover;">
      <img src="assets/lpic7.png" alt="" style="width: 80%;">
    </div>
  
    <div class="text11">
        <div class="text55">
  
        <h6> IT IS GOOD TASTS</h6>
        <h1>KFC CHITCKEN HOT WING & FRENCH FRICS</h1>
        <h4>it is the time of food</h4>
        <br>
        <br>
        </div>
        <div class="section11-2">
        <div class="countdown" style="flex-direction: column;">
            <p id="demo" style="font-size: 30px; margin: 10px; margin-bottom: 0;"></p>
            <p style="font-size: 12px; margin: 10px; margin-top: 0; gap: 4px;"> Days Hours Mintues Seconds </p>
          </div>
          <div class="button" style="align-items: left;">
          <input type="submit" value="OROE NOW">
          </div>
        </div>
        </div>
       </div>
  
  