<!-- sama part -->
<app-homesec></app-homesec>
<!-- mai part -->
<section  class="food-category">
  <div class="container">
      <div class="section-title text-center">
          <span class="ss">crispy, every bite taste</span>
          <h2>Popular Food Items</h2>
      </div>
      <div class="row custom-row">
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/main-food-2.png" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">ruti with beef slice</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col">
              <div class="mn"></div>
              <div class="catagory-product-card-2 text-center active">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/burger-2.png" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">Whopper Burger King</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/pizza-3.png" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">Chiness pasta</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/grilled-2.png" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">delicious burger</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/Final-delicious-pizza.jpg" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">fast food combo</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/delicious-burger.png" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">ruti with chiken</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/beef-ruti.png" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">grilled chiken</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
          <div class="custom-col" >
              <div class="catagory-product-card-2 text-center">
                  <div class="icon">
                      <a href="shop-cart.html"><i class="far fa-heart"></i></a>
                  </div>
                  <div class="catagory-product-image">
                      <img src="assets/images (14).jpg" alt="product-img">
                  </div>
                  <div class="catagory-product-content">
                      <div class="catagory-button">
                          <a href="shop-cart.html" class="theme-btn-2"><i class="fa-solid fa-cart-shopping"></i>Add To Cart</a>
                      </div>
                      <div class="info-price d-flex align-items-center justify-content-center">
                          <p>-5%</p>
                          <h6>$30.52</h6>
                          <span class="cn">$28.52</span>
                      </div>
                      <h4>
                          <a href="shop-single.html" class="nn">delicious burger</a>
                      </h4>
                      <div class="star">
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star"></span>
                          <span class="fas fa-star text-white"></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- amira part -->
<app-homesecc></app-homesecc>
<!-- laila part -->
<app-homelec></app-homelec>
<!-- roayda part -->
<app-opinions></app-opinions>
<app-delivery></app-delivery>
<app-booking></app-booking>