<div class="booking p-5">
    <div class="row col-md-12 col-lg-6 d-flex flex-wrap justify-content-center align-items-center m-auto">
        <div class="booking-text w-50">
            <span>CRISPY, EVERY BITE TASTE</span>
            <h2 class="m-2 text-white">NEED BOOKING?
                <br>
                RESERVE YOUR TABLE?</h2>
            <div class="m-4">
                <i class="fa-solid fa-phone"></i>
                <div>
                    <h5 class="text-white m-3">24/7 SUPPORT CENTER</h5>
                    <a href="" class="m-3 booking-link">+1718-904-4450</a>
                </div>
            </div>
        </div>
        <div class="booking-form w-50">
            <form action="">
                <h4 class="m-3">CREATE AN RESERVATION</h4>
                <input type="number" placeholder="No Of Persons" class="btn w-75 m-3">
                <input type="tel" placeholder="Phone Number" class="btn w-75 m-3">
                <input type="date" class="btn w-75 m-3">
                <button class="btn w-75 m-3 btn-booking">BOOKING NOW</button>
            </form>
        </div>
    </div>
</div>
