.booking {
    background-image: url('/assets/main-bg.jpg');
    background-position: center;
    background-size: cover;
}
.booking .booking-text span {
    color: #D12525;
    margin-bottom: 20px;
}
.booking .fa-phone {
    font-size: 60px;
    background-color: #00813D;
    padding: 20px;
    border-radius: 50%;
    margin: 10px;
}
.booking-link {
    text-decoration: none;
    color: #00813D;
    font-size: 30px;
    font-weight: 800;
}
.booking-form {
    background-color: #00813D;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
}
.booking-form .btn {
    border: solid 2px #ffffff2b;
    padding: 10px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: start;
}
.booking-form .btn::placeholder {
    color: white;
    font-size: 16px;
    font-weight: 600;
}
.btn-booking {
    text-align: center !important;
    background-color: #FFB936;
    color: black !important;
}
.btn-booking:hover {
    background-color: white;
}
.booking-form h4 {
    color: #ffffff;
    font-size: 28px;
}
@media screen and (max-width: 665px) {
    .booking-form, .booking-text {
        width: 100% !important;
    }
}
